<h1>Top Cryptocurrencies</h1>

<button type="button" (click)="onRefreshBtnClicked()">Refresh</button>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Rank</th>
    <th scope="col">Symbol</th>
    <th scope="col">Price ({{currentFiat}})</th>
    <th scope="col">24 hour change</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cc of cryptocurrencies$ | async">
    <th scope="row">{{cc.cmc_rank}}</th>
    <td><a [routerLink]="['/cryptocurrencies', cc.symbol]">{{cc.symbol}}</a></td>
    <td>{{cc.getQuoteForCurrency(currentFiat).price}}</td>
    <td>{{cc.getQuoteForCurrency(currentFiat).percent_change_24h}}</td>
  </tr>
  </tbody>
</table>
